  <div class="vh-100">
    <div class="row align-items-center fixed-top h-5 bg-2 c-0">
      <div class="col-md-12">
        <h1 class="fw-b fs-4">Day++</h1>
      </div>
    </div>
    <div class="vh-100 d-flex justify-content-center align-items-center bg-3 c-0">
      <div class="fw-b fs-1">
        {{stimeToDate}}
      </div>
      <div class="h-95 pt-0 d-flex align-items-end" style="position: absolute;">
        <input type="datetime-local" (change)="setSelectedDate(getValue($event))" [value]="setValueDate()">
      </div>
    </div>
    <div class="h-20 bg-2 c-0 p-2">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"><p>{{totalSeconds}} - Segundos</p></div>
            <div class="col-md-12"><p>{{totalMinutes}} - Minutos</p></div>
            <div class="col-md-12"><p>{{totalHours}} - Horas</p></div>
            <div class="col-md-12"><p>{{totalDays}} - Dias</p></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"><p>{{totalWeeks}} - Semanas</p></div>
            <div class="col-md-12"><p>{{totalMonths}} - Meses</p></div>
            <div class="col-md-12"><p>{{totalYears}} - Anos</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
