  <div class="vh-100">
    <div class="row align-items-center fixed-top h-5 bg-2 c-0">
      <div class="col-md-12">
        <h1 class="fw-b fs-4">Day++</h1>
      </div>
    </div>
    <div class="vh-100 d-flex justify-content-center align-items-center bg-3 c-0">
      <div class="fw-b fs-1">
        {{stimeToDate}}
      </div>
      <div class="h-95 pt-0 d-flex align-items-end" style="position: absolute;">
        <input type="datetime-local" (change)="setSelectedDate(getValue($event))" [value]="setValueDate()">
      </div>
    </div>
    <div class="h-25 bg-2 c-0 p-2">
      <p>{{totalSeconds}} - Segundos</p>
      <p>{{totalMinutes}} - Minutos</p>
      <p>{{totalHours}} - Horas</p>
      <p>{{totalDays}} - Dias</p>
      <p>{{totalWeeks}} - Semanas</p>
    </div>
  </div>
